{% extends 'notes/base.html' %}

{% block content %}
<div class="card p-4 col-md-8 mx-auto">
    <h2>{% if object %}Редактирование заметки{% else %}Создание заметки{% endif %}</h2>
    <form method="post" class="mt-3">
        {% csrf_token %}
        
        <div class="mb-3">
            <label class="form-label">Заголовок</label>
            {{ form.title }}
        </div>
        
        <div class="mb-3">
            <label class="form-label">Текст заметки</label>
            {{ form.text }}
        </div>
        
        <div class="mb-3 form-check">
            {{ form.is_important }}
            <label class="form-check-label">Сделать эту заметку важной</label>
        </div>
        
        <button type="submit" class="btn btn-success">Сохранить</button>
        <a href="{% url 'note_list' %}" class="btn btn-secondary">Отмена</a>
    </form>
</div>
{% endblock %}