{% extends 'notes/base.html' %}
{% block content %}
<div class="card p-4 text-center col-md-6 mx-auto border-danger">
    <h3 class="text-danger">Вы уверены, что хотите удалить эту заметку?</h3>
    <p class="fs-5 mt-2"><strong>{{ object.title }}</strong></p>
    
    <form method="post" class="mt-4">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger px-4">Да, удалить</button>
        <a href="{% url 'note_detail' object.pk %}" class="btn btn-secondary px-4">Отмена</a>
    </form>
</div>
{% endblock %}